<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">

    {% for spec in species %}
        <li><a href="/specie/{{ spec.url }}">{{ spec.title }}</a></li>
    {% endfor %}

</ul>

<nav class="bg-primary">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">BDProject</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/about">Acerca</a></li>
                <li><a href="/admin">Admin</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="" data-target="dropdown1">Especies<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </div>
</nav>