{% extends 'base.html' %}

{% block title %} Bienvenido {% endblock %}

{% block content %}

    <div class="container-custom">
        <!-- Set up your HTML -->
        <div class="owl-carousel">

            {% for spec in species %}

                <div class="card item">
                    <div class="img-container">
                        <img src="/media/{{ spec.image }}" class="responsive-img" alt="">
                    </div>

                    <div class="card-content">
                        <div class="card-title">
                            {{ spec.title }}
                        </div>

                        <p class="truncate">{{ spec.description }}</p>
                        <div class="container center-align mt20">
                            <a href="/specie/{{ spec.url }}" class="btn bg-primary">Ver</a>
                        </div>
                    </div>

                </div>

            {% endfor %}

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">

                {% for i in posts %}
                    <div class="row">

                        <div class="col s12 m8">
                            {{ i.content | truncatewords:60|safe }}
                            <div class="mt20">
                                <a href="/blog/{{ i.url }}" class="btn bg-primary">Leer mas</a>
                                {% for i in posts %}
                                    <a href="/blog/{{ i.url }}" class="collection-item"></a>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <img src="/media/{{ i.image }}" class="responsive-img" style="margin-top: 50px;" alt="">
                        </div>

                    </div>
                {% endfor %}


            </div>


        </div>
    </div>

{% endblock %}

