{% extends 'base.html' %}

{% block title %} Bienvenido {% endblock %}

{% block content %}

    <div class="container-custom">

        <div class="row">
            <div class="col s12 m10">

                <h3>{{ post.title }}</h3>

                <p>({{ post.specie.title }})</p>

                <img src="/media/{{ post.image }}" class="responsive-img" alt="">
                <br>

                <p>
                    {{ post.content|safe }}
                </p>

            </div>
            <div class="col s12 m2">
                {% for spec in species %}

                    <div class="card item">
                        <div class="img-container">
                            <img src="/media/{{ spec.image }}" class="responsive-img" alt="">
                        </div>

                        <div class="card-content">

                            <b>{{ spec.title }}</b>

                            <p class="truncate">{{ spec.description }}</p>
                            <div class="container center-align mt20">
                                <a href="/specie/{{ spec.url }}" class="btn bg-primary">Ver</a>
                            </div>
                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}