{% extends 'base.html' %}

{% block title %} Bienvenido {% endblock %}

{% block content %}

    <div class="container-custom">
        <h3>{{ specie.title }}</h3>
        <div class="img-container">
            <img src="/media/{{ specie.image }}" style="max-height: 450px; width: 100%; object-fit: cover;" alt="">
        </div>

        <div class="collection">

            {% for i in posts %}
                <a href="/blog/{{ i.url }}" class="collection-item">{{ i.title }}</a>

            {% empty %}
                <h3>No hay publicaciones</h3>
            {% endfor %}

        </div>
    </div>

{% endblock %}